body {
    margin: 0;
    background: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centered {
    text-align: center;
}

.centered a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
